# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
*.egg-info/
dist/
build/

# =========================
# Virtual Environments
# =========================
venv/
.env/
.env.*

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Temporary / Runtime files
# =========================
temp.pdf
*.tmp

# =========================
# Vector DB / Embeddings (DO NOT COMMIT)
# =========================
data/
vector_store/chroma_store.py
faiss_index/
chroma/
embeddings/*.npy
embeddings/*.pkl

# =========================
# Uploaded / Indexed Files
# =========================
raw/
uploads/
*.pdf
